<h1 class='classroom-header white-text'>Classrooms</h1>

<% if @classrooms.any? %>
  <div class='row'>
    <% @classrooms.each do |classroom| %>
      <div class="col s12 m6">
       <div class="card grey lighten-2">
         <div class="card-content brown-text">
           <span class="card-title classname"><%= @school.classrooms.name %></span>
         </div>
         <div class="card-action">
           <%= link_to 'More info', school_classroom_path(@school, classroom), class: 'btn' %>
         </div>
       </div>
      </div>
    <% end %>
  </div>
<% else %>
  <h3 class='no-class-msg white-text'>There Is No classroom, Go make one!</h3>
<% end %>

<%= link_to 'New Class', new_school_classroom_path(@school), class: 'new-classroom btn' %>
