<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="center brand-logo">Pirate School District</a>
      <ul class="left hide-on-med-and-down">
        <li><%= link_to 'All Schools', schools_path, class: 'school-back active' %></li>
      </ul>
	      <form>
	        <div class="right input-field">
	         <label for="search"><i class="material-icons">search</i></label>
	         <input id="search" type="search" required>
	         <i class="material-icons">close</i>
	        </div>
	      </form>
    </div>
  </nav>
</div>
